<div class="border-2 shadow-2xl border-solid border-blue-900 p-2 rounded h-full flex flex-col">
  <div>
    <input
      type="text"
      placeholder="Start typing and press Enter to search..."
      class="w-full h-8 border border-4 border-gray-600 rounded-md p-1 mb-2"
      name="filterInput"
      [(ngModel)]="filterInput"
      (change)="handleFilter()"
    />
  </div>
  <div class="overflow-y-auto outline-none">
    <div *ngIf="!shownEmails.length; else elseBlock" class="text-center">
      <fa-icon [icon]="faInbox" class="text-2xl"></fa-icon>
      No Results
    </div>
    <ng-template #elseBlock>
      <div
        *ngFor="let email of shownEmails"
        (click)="selectEmail(email)"
        class="rounded border-2 border-gray-300 border-solid mb-2 px-2 last:mb-0 cursor-pointer hover:bg-gray-200 text-sm"
        [ngClass]="{'border border-solid border-black bg-gray-200': selectedEmail && selectedEmail.id === email.id}"
      >
        <div class="mb-4">
          <div class="flex justify-between mb-1">
            <app-editable-div class="inline-block" prefix="From: " [content]="email.sender | highlight:filterText"></app-editable-div>
            <div class="inline-block text-xs" [innerHTML]="email.date | date: 'short' | highlight:filterText"></div>
          </div>
          <app-editable-div class="inline-block" prefix="Subject: " [content]="email.subject | highlight:filterText"></app-editable-div>
        </div>
        <div class="truncate" [innerHTML]="email.body | highlight:filterText"></div>
      </div>
    </ng-template>
  </div>
  <div class="flex justify-between p-2">
    <div>
      <button (click)="changePage(false)" [disabled]="currentPage === 1" class="paginationBtn">
        <fa-icon [icon]="faChevronLeft"></fa-icon>
      </button>
    </div>
    <div>{{ currentPage }}</div>
    <div>
      <button (click)="changePage(true)" [disabled]="currentPage === numberOfPages" class="paginationBtn">
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </button>
    </div>
  </div>
</div>
