<div class="grid grid-cols-1 grid-rows-main-layout gap-1 h-full">
  <app-header></app-header>
  <div class="grid grid-cols-email-layout grid-rows-1 gap-2 p-2 rounded-md bg-gray-100 overflow-hidden">
    <app-email-list
      [emails]="emailList"
      [selectedEmail]="selectedEmail"
      (emailSelected)="selectEmail($event)"
      (filterChanged)="changeFilter($event)"
      [filterText]="filterText"
    >
    </app-email-list>
    <app-email-item [email]="selectedEmail" [filterText]="filterText"></app-email-item>
  </div>
</div>