<div class="border-2 border-blue-900 border-solid h-full w-full rounded-md shadow-2xl p-2 bg-gray-100 flex flex-col">
  <div *ngIf="!email; else elseBlock" class="flex flex-col flex-grow justify-center items-center text-gray-400 noEmailContent">
    <fa-icon [icon]="faArrowCircleLeft" class="text-2xl"></fa-icon>
    <div>Select an email on the list</div>
  </div>
  <ng-template #elseBlock>
    <div
      class="h-12 text-xl border border-solid border-gray flex items-center pr-2 rounded mb-2 bg-white px-2 shadow whitespace-pre-wrap"
      [innerHTML]="email && email.subject | highlight:filter"
    >
    </div>
    <div class="infoSection mb-2">
      <div class="infoContent"><fa-icon [icon]="faUser"></fa-icon> From:</div>
      <div [innerHTML]="email && email.sender | highlight:filter"></div>
    </div>
    <div class="infoSection">
      <div class="infoContent"><fa-icon [icon]="faUsers"></fa-icon> To (cc):</div>
      <div [innerHTML]="email && email.c_receivers | highlight:filter"></div>
    </div>
    <div class="text-sm mt-2">
      <fa-icon [icon]="faCalendarAlt"></fa-icon> {{ email && email.date | date:"short" }}
    </div>
    <div class="bg-white rounded mt-2 p-2 border border-solid border-blue-900 overflow-y-auto flex-grow">
      <pre class="whitespace-pre-wrap" [innerHTML]="email && email.body | highlight:filterText">{{ email && email.body }}</pre>
    </div>
  </ng-template>
</div>
