.infoSection {
  @apply h-8 border border-solid border-gray-300 flex items-center pr-2 rounded;

  > svg {
    margin-right: 2px;
  }
}

.infoContent {
  @apply bg-gray-300 p-2 mr-2 rounded-l text-xs w-20;
}

.noEmailContent {
  font-size: 20px;
}